{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Moldes em Progresso</title>
  <link rel="stylesheet" href="static/checklist/checklist.css">
</head>
<body>
  <header>
    <h1>Ckecklist</h1>
    <img src="static/imagens/Simoldes-Acos-Brasil.png" alt="Simoldes Aços Logo" class="logo">
  </header>

  <div class="container">
    <aside class="sidebar">
      <ul>
        <li>1678</li>
        <li>1679</li>
        <li>1680</li>
        <li>1681</li>
        <li>1682</li>
        <li>1683</li>
      </ul>
    </aside>

    <main class="main-content">
      <div class="search-bar">
        <input type="text" placeholder="Pesquisar">
      </div>

      <div class="action-buttons">
        <button class="green-button save">Salvar alterações</button>
      </div>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>DMG</th>
            <th>600 II</th>
            <th>800 II</th>
            <th>600 I</th>
            <th>800 I</th>
            <th>IXION II</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><strong>100</strong></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
          </tr>
          <tr>
            <td></td>
            <td><strong>200</strong></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
          </tr>

            <td></td>
            <td><strong>1700</strong></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
          </tr>

            <td></td>
            <td><strong>300A</strong></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
            <td><label class="checkbox-container"><input type="checkbox" checked><span class="checkmark"></span></label></td>
          </tr>

        </tbody>
      </table>
    </main>
  </div>
</body>
</html>
