{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Moldes em Progresso</title>
  <link rel="stylesheet" type="text/css" href="{% static 'tela_principal/principal.css' %}">

</head>
<body>
  <header>
    {% comment %} <p>Bem-vindo, {{ usuario }}!</p>

  {% if permissao == 'admin' %}
    <p>Você é administrador. Tem acesso total.</p>
  {% elif permissao == 'nivel_3' %}
    <p>Você pode ver modelos, evolução e status por máquina.</p>
  {% elif permissao == 'nivel_2' %}
    <p>Você pode ver modelos 3D e chegada dos aços.</p>
  {% elif permissao == 'nivel_1' %}
    <p>Você pode ver apenas chegada dos aços.</p>
  {% endif %} {% endcomment %}
    
    <a href="/login">
      <button type="button" class="white-button">Sair</button>
    </a>
    <h1>Moldes em Progresso</h1>
    <img src="{% static 'imagens/Simoldes-Acos-Brasil.png' %}" alt="Simoldes Aços Logo" class="logo">
  </header>

<div class="container">
  <aside class="sidebar">
    <ul>
    {% for item in elementos %}
      <li>
        {% if item.tipo == 'pasta' %}
          <a href="{% url 'listar_arquivos_checklist' nome_aba=item.nome %}"> {{ item.nome }}</a>
        {% elif item.tipo == 'erro' %}
          ⚠️ {{ item.nome }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </aside>

  <main class="main-content"> 
    {% if mensagem %}
      <p style="color: red;"><strong>{{ mensagem }}</strong></p>
    {% endif %}

    {% if dados %}
    <!-- TABELA DE CHECKBOXES COM FORMULÁRIO DJANGO -->
      <form method="post" action="{% url 'atualizar_status_checklist' %}">
        {% csrf_token %}
          <input type="hidden" name="nome_aba" value="{{ aba }}">
          <div class="action-buttons">
            <a href="/pagina/{{ aba }}">
              <button type="button" class="green-button">Listas de processos</button>
            </a>

            <button type="submit" class="green-button save">Salvar Alterações</button>
          </div>

          {% if messages %}
            <div id="popup-msg" class="popup">
              {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}


        <table>
          <tr id="cabecalho">
            <th>Item</th>
            <th>Imagem</th>
            <th>DMG	</th>
            <th>600 II</th>
            <th>800 II</th>
            <th>600 I</th>
            <th>800 I</th>
            <th>IXION II</th>
          </tr>

          {% for item in dados %}
          <tr>
            <td>{{ item.item }}</td>
            <td>
              <img src="/media/modelos/previews/{{ item.item }}.png" class = "zoom-img"alt="{{ item.item }}" width="100">
            </td>
            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_1_{{ item.linha }}" {% if item.maquina_1 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>

            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_2_{{ item.linha }}" {% if item.maquina_2 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>

            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_3_{{ item.linha }}" {% if item.maquina_3 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>

            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_4_{{ item.linha }}" {% if item.maquina_4 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>

            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_5_{{ item.linha }}" {% if item.maquina_5 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>
            <td>
              <label class="checkbox-container">
                <input type="checkbox" name="maquina_6_{{ item.linha }}" {% if item.maquina_6 %}checked{% endif %}>
                <span class="checkmark"></span>
              </label>
            </td>
          </tr>
          {% endfor %}
        </table>
      </form>
    {% endif %}
  </main>
</div>
</body>

  <script src="{% static 'script\message.js' %}"></script>

</html>
